1) Swapping 2 numbers

In [4]:
def swap(a,b,c=0):
    print('the val of a is: ',a)
    print('the val of b is: ',b)
    c = a
    a = b
    b = c
    return print(f'the swapped values are {a} and {b}')

In [5]:
swap(10,20)

the val of a is:  10
the val of b is:  20
the swapped values are 20 and 10

2) Check if pallindrome

In [8]:
def pall(string):
    a = string
    b = a[::-1]
    if a==b:
        return 'this is pallindrome'
    else:
        return 'not a pallindrome'

In [12]:
pall('NAMAN')

'this is pallindrome'

**3) print the reverse half of a string (argentina.. negratina)**

4) For a list ["foo", "bar", "baz"] add an item in the list "bar", what's the cleanest way to get its index (1) in Python?

In [21]:
l =  ["foo", "bar", "baz"] 
def app_to_str(item):
    l.append(item)
    print('index of last element is: ',l.index(item))
    return l

In [22]:
app_to_str('app')

index of last element is:  3

['foo', 'bar', 'baz', 'app']

5) Best way to check if a list is empty

In [29]:
def checkiflistempty(l):
    a = len(l)
    if a == 0:
        return 'EMPTY list!!!'
    else:
        return 'NOT empty list'

In [30]:
checkiflistempty([1,2,3])

'NOT empty list'

6) Getting the last element of a list in Python

In [31]:
def last_element(l):
    a = l[-1]
    return a

In [32]:
last_element([0,1,0,2,3,"python","jaava",[1,2,3]])

[1, 2, 3]

7) How to clone or copy a list?

In [33]:
def copy_lst(l):
    a = l.copy()
    return a

In [34]:
copy_lst([0,1,0,2,3,"python","jaava",[1,2,3]])

[0, 1, 0, 2, 3, 'python', 'jaava', [1, 2, 3]]

8) How can I count the occurrences of a list item in Python?

In [44]:
def cnt(l, item):
    print(f'checking to see how many times {item} appears in the list {l}')
    a = l.count(item)
    print(f'it appears...')
    return a

In [45]:
cnt([0,1,0,2,3,"python","jaava",[1,2,3]], 0)

checking to see how many times 0 appears in the list [0, 1, 0, 2, 3, 'python', 'jaava', [1, 2, 3]]
it appears...

2

9) How do I remove the first Item from a Python list?

In [46]:
def popp(l):
    print('the given list is: ',l)
    a = l.pop(0)
    print('the first item removed is: ')
    return a

In [48]:
popp([2,3,"python","jaava",[1,2,3]])

the given list is:  [2, 3, 'python', 'jaava', [1, 2, 3]]
the first item removed is:

2

10) The current year and the year in which the employee joined the organization are entered through the keyboard. If the number of years for which the employee has served the organization is greater than 3 then a bonus of Rs. 2500/- is given to the employee. If the years of service are not greater than 3, then the program should do nothing.

In [67]:
def bonus():
    curr_yr = int(input('enter the current year: '))
    join_yr = int(input('enter the year employee joined work: '))
    a = curr_yr - join_yr
    if a > 3:
        print('employee will be given bonus of Rs. 2500/-!')
    else:
        print('no bonus!!!')

In [69]:
bonus()

enter the current year: 2021
enter the year employee joined work: 2015
employee will be given bonus of Rs. 2500/-!

11) The marks obtained by a student in 5 different subjects are input through the keyboard. The student gets a division as per the following rules: Percentage above or equal to 60 - First division, Percentage between 50 and 59 - Second division percentage between 40 and 49 - Third division, Percentage less than 40 - Fail. Write a program to calculate the division obtained by the student

In [1]:
def mrk():
    marks = list()
    phy = float(input('enter marks in physics: '))
    marks.append(phy)
    chem = float(input('enter marks in chemistry: '))
    marks.append(chem)
    math = float(input('enter marks in maths: '))
    marks.append(math)
    eco = float(input('enter marks in economics: '))
    marks.append(eco)
    eng = float(input('enter marks in english: '))
    marks.append(eng)
    print('the marks of all subjects are: ',marks)
    avg = sum(marks)/len(marks)
    print(avg)

    if avg>=60:
        return 'First div'
    elif (avg>=50 and avg<=59):
        return 'second div'
    elif (avg>= 40 and avg<=49):
        return 'third div'
    else:
        return 'FAIL'

In [2]:
mrk()

enter marks in physics: 75
enter marks in chemistry: 60
enter marks in maths: 64
enter marks in economics: 73
enter marks in english: 95
the marks of all subjects are:  [75.0, 60.0, 64.0, 73.0, 95.0]
73.4

'First div'

12) A company insures its drivers in the following cases: If the driver is married. If the driver is unmarried, male & above 30 years of age. If the driver is unmarried, female & above 25 years of age. In all other cases the driver is not insured. If the marital status, sex, and age of the driver are the inputs, write a program to determine whether the driver is to be insured or not

In [3]:
def insurance():
    marital_stat = input('If married - enter Y. If not married - enter N: ')
    gender = input('If male - enter M. If female - enter F: ')
    age = int(input('Enter the age of driver: '))

    if marital_stat == 'Y':
        #marital_stat = input('If married - enter Y. If not married - enter N: ')
        return 'insured'

    elif (marital_stat == 'N' and gender == 'M' and age>30):
        #gender = input('If male - enter M. If female - enter F: ')
        #age = int(input('Enter the age of driver: '))
        return 'insured'

    elif (marital_stat == 'N' and gender == 'F' and age>25):
        return 'insured'

    else:
        return 'UNINSURED!!!'

In [4]:
insurance()

If married - enter Y. If not married - enter N: Y
If male - enter M. If female - enter F: F
Enter the age of driver: 30

'insured'

13) If cost price and selling price of an item is input through the keyboard, write a program to determine whether the seller has made profit or incurred loss. Also determine how much profit he made or loss he incurred.

In [8]:
def profit(cp,sp):
    if sp>cp:
        print('seller made profit!')
        print('percentage profit is: ', ((sp-cp)/cp)*100)
    else:
         print('seller is incurring loss!!!')
         print('loss percentage is: ', ((cp-sp)/cp)*100)

In [13]:
profit(50,60)

seller made profit!
percentage profit is:  20.0

14) Any integer is input through the keyboard. Write a program to find out whether it is an odd number or even number.

In [14]:
def oddoreven(x):
    if x%2==0:
        return 'even'
    else:
        return 'odd'

In [15]:
oddoreven(5)

'odd'

In [16]:
oddoreven(6)

'even'

**15) Any year is input through the keyboard. Write a program to determine whether the year is a leap year or not.**

In [85]:
def leap(year):
    if year%400 == 0:
        if (year%4 == 0 and year%100 != 0):
            print('leap year!!!')
        else:
            print('not a leap year...')

In [86]:
leap(2000)

not a leap year...

16) Remove duplicate values of a list a=[1,2,3,4,1,2,3,10]

In [35]:
def unique(l):
    s = set(l)
    l =list(s)
    return l

In [36]:
unique([1,2,3,4,1,2,3,10])

[1, 2, 3, 4, 10]

17) Doing operations on the sets given below `

In [40]:
s1 = set( [7,9, 12, 7, 9] ) 
s2 = set( ['abc', 12, 'b', 'car', 7, 10, 12 ]) 
s3 = set( [12, 14, 12, 'ab'] )

In [41]:
# s1 & s2

def anding(a,b):
    return a&b

In [42]:
anding(s1,s2)

{7, 12}

In [43]:
# s1 | s2

def oring(a,b):
    return a | b

In [44]:
oring(s1,s2)

{10, 12, 7, 9, 'abc', 'b', 'car'}

In [46]:
# 'b' in s2
def check(l,x):
    if x in l:
        return True

In [48]:
check(['abc', 12, 'b', 'car', 7, 10, 12 ],'b')

True

In [54]:
#'ab' in s2
def check1(l,x):
    if x in l:
        return True
    else:
        return False

In [55]:
check1(['abc', 12, 'b', 'car', 7, 10, 12 ],'ab')

False

18) Write a program to convert keys in to values and vice versa

In [56]:
def vversa(d):
    a = list(d.keys())
    b = list(d.values())
    mm = zip(b,a)
    return dict(mm)

In [57]:
vversa({'a':4,'l':5,'c':"python",'f':89})

{4: 'a', 5: 'l', 'python': 'c', 89: 'f'}

19) Python Program to Add a Key-Value Pair to the Dictionary

In [58]:
def mod(d,k,v):
    d[k]=v
    return d

In [59]:
mod({'a':4,'l':5,'c':"python",'f':89}, 'prakhar',25)

{'a': 4, 'l': 5, 'c': 'python', 'f': 89, 'prakhar': 25}

20) Python Program to Concatenate Two Dictionaries Into One

In [60]:
def conc(d1,d2):
    d1.update(d2)
    return d1

In [61]:
conc({'a': 100, 'b':200, 'c':300}, {"Mike Jones": "281-330-8004",'1': "867-5309",'3': "900-783-3369"})

{'a': 100,
 'b': 200,
 'c': 300,
 'Mike Jones': '281-330-8004',
 '1': '867-5309',
 '3': '900-783-3369'}

21) Python Program to Check if a Given Key Exists in a Dictionary or Not*

In [62]:
def check(d,k):
    if k in d:
        return True
    else:
        False

In [63]:
check({'a': 4, 'l': 5, 'c': 'python', 'f': 89, 'prakhar': 25}, 'prakhar')

True

22) Python Program to Sum All the Items in a Dictionary

In [66]:
def addsum(d):
    tot = 0
    for i in d:
        tot = tot + d[i]
    return tot

In [67]:
addsum({'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50})

150

23) Python Program to multiply All the Items in a Dictionary

In [69]:
def mult(d):
    prod = 1
    for i in d:
        prod = prod * d[i]
    return prod

In [71]:
mult({'a': 10, 'b': 2, 'c': 3, 'd': 4, 'e': 5})

1200

24) Python Program to Remove the Given Key from a Dictionary

In [72]:
def delet(d,a):
    del d[a]
    return d

In [73]:
delet({'a': 10, 'b': 2, 'c': 3, 'd': 4, 'e': 5}, 'a')

{'b': 2, 'c': 3, 'd': 4, 'e': 5}

25) Python Program to Map Two Lists into a Dictionary

In [74]:
def twolists(l1,l2):
    a = zip(l1,l2)
    return dict(a)

In [75]:
twolists(['samosa', 'pizza', 'burger'], ['India', 'Italy', 'USA'])

{'samosa': 'India', 'pizza': 'Italy', 'burger': 'USA'}

26) Python Program to Count the Frequency of Words Appearing in a String Using a Dictionary

In [76]:
def ct(s):
    d = dict()
    for i in s:
        if i in d:
            d[i] += 1
        else:
            d[i] = 1
    return d

In [77]:
ct('prakharprasad')

{'p': 2, 'r': 3, 'a': 4, 'k': 1, 'h': 1, 's': 1, 'd': 1}

27) Write a Python program to read an entire text file.

In [78]:
def reading(fname):
    f = open(fname)
    print(f.read())
    f.close()

In [79]:
reading('hw8.txt')

Hello my name is Prakhar!
i have a MS in data science
i also have a BS in Electronics and Telecom
5 years from now, I want to get an MBA degree too!

Currently I am working as at Bluewater Fintech.
BWFT is located in St. Louis Park, MN, USA.Currently I am working at Bluewater Fintech.
BWFT is located in St. Louis Park, MN, USA.Currently I am working at Bluewater Fintech.
BWFT is located in St. Louis Park, MN, USA.Currently I am working at Bluewater Fintech.
BWFT is located in St. Louis Park, MN, USA.Currently I am working at Bluewater Fintech.
BWFT is located in St. Louis Park, MN, USA.Currently I am working at Bluewater Fintech.
BWFT is located in St. Louis Park, MN, USA.Currently I am working at Bluewater Fintech.
BWFT is located in St. Louis Park, MN, USA.

28) Write a Python program to read first n lines of a file

In [83]:
def read_n_lines(fname, n):
    f = open(fname)
    for i in f.readlines()[:n]:
        print(i)
    f.close()

In [84]:
read_n_lines('hw8.txt',4)

Hello my name is Prakhar!

i have a MS in data science

i also have a BS in Electronics and Telecom

5 years from now, I want to get an MBA degree too!

29) Write a Python program to append text to a file and display the text

In [97]:
def appn(fname, l):
    f = open(fname, 'a')
    f.writelines(l)
    f = open('hw8.txt')
    print(f.read())
    f.close()

In [98]:
appn('hw8.txt', ['\nI LOVE PYTHON'])

Hello my name is Prakhar!
i have a MS in data science
i also have a BS in Electronics and Telecom
5 years from now, I want to get an MBA degree too!

Currently I am working as at Bluewater Fintech.
BWFT is located in St. Louis Park, MN, USA.Currently I am working at Bluewater Fintech.
BWFT is located in St. Louis Park, MN, USA.Currently I am working at Bluewater Fintech.
BWFT is located in St. Louis Park, MN, USA.Currently I am working at Bluewater Fintech.
BWFT is located in St. Louis Park, MN, USA.Currently I am working at Bluewater Fintech.
BWFT is located in St. Louis Park, MN, USA.Currently I am working at Bluewater Fintech.
BWFT is located in St. Louis Park, MN, USA.Currently I am working at Bluewater Fintech.
BWFT is located in St. Louis Park, MN, USA.I LOVE PYTHONI LOVE PYTHON
I LOVE PYTHON
I LOVE PYTHON
I LOVE PYTHON

30) Write a Python program to read last n lines of a file.

In [100]:
def lastnline(fname, n):
    f = open(fname, 'r')
    for line in f.readlines()[-n:]:
        print(line)
    f.close()

In [101]:
lastnline('hw8.txt', 3)

I LOVE PYTHON

I LOVE PYTHON

I LOVE PYTHON

31) Write a Python program to read a file line by line and store it into a list.

In [102]:
def linelist(fname):
    f = open(fname,'r')
    l = f.readlines()
    f.close()
    return l

In [103]:
linelist('hw8.txt')

['Hello my name is Prakhar!\n',
 'i have a MS in data science \n',
 'i also have a BS in Electronics and Telecom\n',
 '5 years from now, I want to get an MBA degree too!\n',
 '\n',
 'Currently I am working as at Bluewater Fintech.\n',
 'BWFT is located in St. Louis Park, MN, USA.Currently I am working at Bluewater Fintech.\n',
 'BWFT is located in St. Louis Park, MN, USA.Currently I am working at Bluewater Fintech.\n',
 'BWFT is located in St. Louis Park, MN, USA.Currently I am working at Bluewater Fintech.\n',
 'BWFT is located in St. Louis Park, MN, USA.Currently I am working at Bluewater Fintech.\n',
 'BWFT is located in St. Louis Park, MN, USA.Currently I am working at Bluewater Fintech.\n',
 'BWFT is located in St. Louis Park, MN, USA.Currently I am working at Bluewater Fintech.\n',
 'BWFT is located in St. Louis Park, MN, USA.I LOVE PYTHONI LOVE PYTHON\n',
 'I LOVE PYTHON\n',
 'I LOVE PYTHON\n',
 'I LOVE PYTHON']

32) cube function

In [104]:
def cube(n):
    m = n*n*n
    return m

In [105]:
cube(2)

8

In [106]:
cube(3)

27

In [107]:
cube(4)

64

33) greet function

In [108]:
def hi(name):
    print('hello ',name)

In [109]:
hi('prakhar')

hello  prakhar

34) c to f

In [110]:
def temp(c):
    f = (c*9)/5 + 32
    return f

In [111]:
temp(-40)

-40.0

In [112]:
temp(31)

87.8

35)convert_far_to_cel() which take one float parameter representing degrees Fahrenheit and returns a float representing the same temperature in degrees Celsius using the following formula: C = (F - 32) * 5/9 The script should first prompt the user to enter a temperature in degrees Fahrenheit and then display the temperature converted to Celsius. Then prompt the user to enter a temperature in degrees Celsius and display the temperature converted to Fahrenheit. All converted temperatures should be rounded to 2 decimal places. Here’s a sample run of the program: Enter a temperature in degrees F: 72 72 degress F = 22.22 degrees C Enter a temperature in degrees C: 37 37 degrees C = 98.60 degrees F

In [1]:
def convert_far_to_cel():
    userf = float(input('enter a temp in degree f: '))
    f = ((userf-32)*5)/9
    return f

In [2]:
convert_far_to_cel()

enter a temp in degree f: 98.6

37.0